h1{
    font-style: normal;
    color: rgb(158, 28, 175);
}
body{
    background-color: rgb(54, 28, 71);
}
#devious_uzi{
    width: 500px; height: 100px;
}
.nuzi{
    color: rgb(198, 163, 212);
}